{% extends 'authapp/base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input type="text" name="username" autofocus=""
               autocapitalize="none" autocomplete="username"
               maxlength="150" class="textinput textInput form-control"
               required="" id="id_username" placeholder="Username">
    </p>
    <p>
        <input type="text" name="email" autofocus=""
               autocapitalize="none" autocomplete="email"
               maxlength="150" class="textinput textInput form-control"
               required="" id="id_email" placeholder="Email">
    </p>
    <p>
        <input type="password" name="password1"
               autocomplete="current-password"
               class="textinput textInput form-control" required=""
               id="id_password1" placeholder="Password">
    </p>
    <p>
        <input type="password" name="password2"
               autocomplete="current-password"
               class="textinput textInput form-control" required=""
               id="id_password2" placeholder="Password confirm">
    </p>
    <p>
        <input type="text" name="first_name" autocapitalize="none"
               maxlength="150" class="textinput textInput form-control"
               required=""  placeholder="First name">
    </p>
    <p>
        <input type="text" name="last_name" autocapitalize="none"
               maxlength="150" class="textinput textInput form-control"
               required=""  placeholder="Last name">
    </p>
    <p>
        <input type="number" name="age" autocapitalize="none"
               class="textinput textInput form-control"
               required=""  placeholder="Age">
    </p>
    <p>
        <input type="file" name="avatar"
               class="textinput textInput form-control"
               required=""  placeholder="Avatar">
    </p>
    <p>
        <button type="submit" class="btn btn-primary btn-block">
            Зарегистрироваться
        </button>
    </p>
</form>
    <p>
    <div class="row justify-content-between">
        <div class="col">
            <a href="{% url 'authapp:login' %}"><small>Войти</small></a>
        </div>
        <div class="col">
            <a href="#"><small>Забыли пароль?</small></a>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        {% if messages %}
        // Toasts
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
        {% endif %}
});
</script>
{% endblock %}


